/* Footer */
footer {
    background-color: #306455;  /* Colore verde per il footer */
    padding: 0;  /* Rimuovi il padding verticale */
    margin: 0;   /* Rimuovi margini */
  }
  
  /* Sezione social media */
  footer .p-4 {
    background-color: #578E7E;  /* Verde chiaro per la sezione social */
    padding: 0;  /* Rimuovi padding nella sezione social */
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    color: #7f9f8e; 
  }
  
  /* Icone social */
  footer .fab {
    font-size: 24px;
    margin: 0 15px;
  }
  
  footer .fab:hover {
    color: #7f9f8e; 
  }
  
  footer .text-uppercase {
    font-weight: bold;
  }
  
  footer .text-center {
    text-align: center;
  }
  
  footer .row {
    margin-left: 0;  
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;  
  }