* {
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #578E7E !important;
  margin-bottom: 50px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 30px;
}

.navbar-nav .nav-item {
  margin: 0 15px;
  align-items: center;
}

.navbar .icons {
  color: #F5ECD5;
  margin-left: 15px;
  font-size: 25px;
}

#navbarSupportedContent {
  display: flex;
  position: relative;
}

.logo {
  margin: 5px 30px;
  margin-left: 30px;
  margin-bottom: 5px;
}

#navbarSupportedContent form {
  display: flex;
  align-items: center;
}

.d-flex1 {
  position: absolute;
  right: 20px;
}

#navbarSupportedContent input.form-control {
  display: flex;
  border-radius: 25px;
  width: 90%;
  padding: 10px 10px;
  height: 40px;
}

#tasto {
  border-radius: 70%;
  background-color: #3D3D3D;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 17px;
  border: none;
  margin-left: 10px;
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.icons i:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
/*fine nav*/

.TuttiProdotti{
  text-align: center;
  color: #578E7E;
  margin: 25px 0 100px 0;
}

.containerTutti {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; 
  max-width: 100%;
  margin: 0 auto;
}

.card {
  width: 250px; 
  height: 350px; 
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 30px; 
  transition: transform 0.2s ease-in-out;
}


.filtri {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
  margin-bottom: 40px;
}


select.form-select {
  border-radius: 25px;
}


button {
  margin-left: 20px; 
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 25px; 
}


/*inizio prodotti*/

.card .immagine {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer; 
}


.card h3 {        
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;      
  margin: 10px 0;
  cursor: pointer; 
}

.prezzo-container {
  display: flex;
  justify-content: space-between; 
  margin:17px 5px 0 5px;
  align-items: baseline;
}

.prezzo {
  font-size: 20px;
  font-weight: bold; 
  margin-right: auto;
}

.card .cart-icon {
  font-size: 20px; 
  color: black; 
  cursor: pointer; 
  margin-left: auto;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: red;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer; 
}

.card:hover .heart-icon {
  opacity: 1;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #F5ECD5;
}

.privacy-newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.privacy-newsletter-container p {
  margin: 0 15px;
}

.bi {
  font-size: 40px;
}

h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
