
.rounded-circle {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.form-control {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.form-control:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.profile-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border: none;
}

.profile-button:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.profile-button:focus {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
#loginSection, #registerSection {
    text-align: center;
}


.input-box {
    border-radius: 20px;
    padding: 10px;
}

.button-b, #logoutButton {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.section-login{
    display: block;
}

#logoutButton{
    margin-left: 42.5%;
}