.navbar {

   color: #f1c40f;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*sfocatura sotto la navbar */
}


body {
    
    color: blue;
}

  .navbar .nav-link {
    color: blue; 
  }
  
  
  .navbar .nav-link:hover {
    color: #f1c40f; 
  }
  
  
  .navbar .icons  {
    color: black; 
    margin-left: 15px; 
    font-size: 1.5em; 
  }
  
  .navbar .icons :hover {
    color: #f1c40f; 
  }
  body {
   color: rgb(144, 0, 255);
  }

  .navbar img {
    border-radius: 50%; 
  
  }
  .navbar .btn-outline-success {
    color: blue;
    
  }
  
  
  