* {
    margin: 0;
    padding: 0;
}
#nav {
  background-color: #578E7E !important;
  margin-bottom: 50px;
  
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 30px;
}
.navbar-nav .nav-item {
  margin: 0 15px;
  align-items: center;
}

.navbar .icons {
  color: #F5ECD5;
  margin-left: 15px;
  font-size: 25px;
}

#navbarSupportedContent {
  display: flex;
  position: relative;
  
}
.logo {
  margin: 5px 30px;
  margin-left: 30px;
  margin-bottom: 5px;
}


#navbarSupportedContent form {
  display: flex;
  align-items: center;
  
}
.d-flex1{
  position: absolute;
  right: 20px;

}

#navbarSupportedContent input.form-control {
  display: flex;
  border-radius: 25px; 
  width: 90%;
  padding: 10px 10px; 
  height: 40px;
  

}

#tasto {
  border-radius: 70%;
  background-color: #3D3D3D;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 17px;
  border: none;
  margin-left: 10px;
  
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.icons i:hover {
  color: rgb(0, 0, 0); 
  cursor: pointer;
}

/*fine header */

h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

body{
  background-color: #FFFAEC;

}
 
.carousel-container {
    display: flex;
    justify-content: center; 
    margin-top: 50px;  
    height: 250px; 
  }
  
#carouselExampleInterval {
    width: 60%; 
    margin: auto;
    
  }
  
.carousel-item img {
    width: 100%;  
    
  }
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: auto;
    margin-bottom: 5%;
    gap: 20px;
}
.card {
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card h3 {
    margin: 10px 0;
}
.prezzo-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.prezzo {
  margin-right: 10px;
}

img.cart {
  width: 20%;
  float: right;
}
img.heart{
  width:15%;
  float: left;
}

/*inizio footer*/
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  padding: 20px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color:  #F5ECD5 ;
}

.privacy-newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.privacy-newsletter-container p {
  margin: 0 15px; /* Distanza tra i link */
}

.bi {
  font-size: 40px; /*dimensioni icone footer */
}

h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
/*fine  footer*/
/* CSS OLEKSANDR NON TOCCARE */



.category-item{
  border-radius: 50%;
}

.circle{
  border-radius: 10px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
}

.circle:hover{
  cursor: pointer;
  box-shadow: 0 0 8px #578e7ea9;
  scale: 1.05;
}

#category-circle-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

#category-header, #chi-siamo-title{
  text-align: center;
}

.content-title{
  padding: 25px;
}

.category-name{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #578E7E ;
  text-align: center;
  line-height: 2em;
  color: white;
  border-radius: 5px;
}
#chi-siamo-container{
  background-color: #F5ECD5 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#chi-siamo-content-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 90%;

}

.chi-siamo-column-container{
  max-width: 450px;
}

.content-text{
  padding: 25px;
}

.btn-primary{
  background-color: #306455;
  border-color: #578E7E;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover{
  background-color: #578E7E;
  border-color: #306455;
}


.tendina {
  background-color: #15fcfc;
}

#preferitiDiv, #carrelloDiv {
  position: absolute; /* Posizione fuori dalla navbar */
  top: 80px; /*  questo valore per posizionarlo sotto la navbar */
  
  right: 80px;/*posiziona sotto le icone*/
  border: 2px solid #00ffee; 
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 300px; 
        background-color: white;
        z-index: 999;
  

}